<div class="container">
  <h1>Boards</h1>
  <section class="lists-container">
    <div class="list">
		  <h3 class="list-title">Boards</h3>
        <% @boards.each do |board| %>
          <ul class="list-items">
            <%= link_to "#{board.name}", cards_path(board_id: board.id), class: "list-group-item list-group-item-action", method: :get %>
          </ul>
        <% end %>
	  </div>
  </section>
</div>
