<div class="container">
  <h1>Cards</h1>
  <section class="lists-container">
    <% @cards.each do |card| %>
      <div class="list" style="background-color:<%= card.color %>">
		    <h3 class="list-title"><%= "#{card.title}" %></h3>
        <ul class="list-items">
          <li><%= "#{card.description}" %></li>
          <li><%= "#{card.created_at}" %></li>
        </ul>
	    </div>
    <% end %>
  </section>
</div>
